In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./CleanData_V2 (shuffled).csv")
df.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget (in millions),Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Marks,Inter_Marks,Year_of_Admission,Campus,University
0,male,Pashtun,Kohat,Urdu,Nothing,3.0,Engrr,House Wife,Commerce,BBA,899,890,2019,Peshawar,IMsciences
1,female,Punjabi,Sialkot,Punjabi,Gaming,2.6,Retired,House Wife,Commerce,BBA,727,752,2020,Lahore,UMT
2,male,Pashtun,Karachi,Hinko,Writing,4.0,Doctor,House Wife,Commerce,BSEconomics,862,875,2019,Karachi,IBA
3,male,Other,Peshawar,Pashto,Nothing,3.0,Retired,House Wife,Pre-Engrr,BSEE,890,900,2019,Peshawar,UOP
4,male,Pashtun,Karachi,Pashto,Nothing,3.0,Engrr,House Wife,Commerce,BSEconomics,841,854,2019,Karachi,IBA

In [3]:
df.shape

(995, 15)

In [4]:
shuffled_df = df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget (in millions),Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric_Marks,Inter_Marks,Year_of_Admission,Campus,University
0,male,Pashtun,Peshawar,Urdu,Gaming,2.0,Retired,Doctor,CS,BSAI,965,985,2020,Karachi,Bahria University
1,male,Punjabi,Islamabad,Urdu,Nothing,3.0,Engrr,House Wife,Pre-Med,MBBS,892,900,2019,Peshawar,KMC
2,male,Other,Peshawar,Pashto,Nothing,1.0,Retired,House Wife,Pre-Engrr,BSMech,902,903,2019,Peshawar,UOP
3,male,Punjabi,Islamabad,Urdu,Gaming,8.0,Army,Doctor,Commerce,BBA,1000,991,2019,Lahore,LUMS
4,male,Pashtun,Peshawar,Pashto,Sports,2.0,Engrr,House Wife,Pre-Engrr,BSCivil,780,752,2019,Peshawar,CECOS

In [5]:
shuffled_df.shape

(995, 15)

In [6]:
shuffled_df.to_csv('./CleanData_V2 (shuffled).csv', index=False)